<form id="signup" action="">
  <br><input type="text" placeholder="First Name">
  <br><input type="text" placeholder="Last Name">
  <br><input type="date" placeholder="Date of Birth">
  <br><select type="date">
    <option value="">-- Select your gender --</option>
    <option value="">Male<</option>
    <option value="">Female</option>
  </select>
  <br><textarea name="" id="" placeholder="Text your bio"></textarea>
  <br><input list="cities" placeholder="-- Select your sign --">
  <datalist id="cities" type="date">
    <option value="Ram" >
    <option value="Bull" >
    <option value="Twins" >
    <option value="Crab" >
    <option value="Lion" >
    <option value="Virgin" >
    <option value="Balance" >
    <option value="Scorpion" >
    <option value="Archer" >
    <option value="Goat" >
    <option value="Water Bearer" >
    <option value="Fish" >
  </datalist>
  <br><input type="email" placeholder="E-mail">
  <br><input type="tel" placeholder="Cellphone">
  <br><input type="text" placeholder="Username">
  <br><input type="password" placeholder="Password">
  <br><input type="password" placeholder="Password Confirmation">
  <br><progress max="10" value="4"></progress>

  <br><label for="">Do you want to receive advertisements by email?</label>
  <br><input type="radio" name="" id=""><label for="">Sim</label>
  <br><input type="radio" name="" id=""><label for="">Não</label>
  
  <br><input type="Checkbox" name="" id=""><label for="">I agree to the terms and policies</label>

  <br><button type="submit">Enviar</button>
  
  <br><meter form="signup" value="" max="10" value="4"></meter>
</form>